.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #273ec6;
}

.App-header {
  text-align: center;
  padding: 20px 10%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  width: 400px;
  margin: 40px auto;
}
