.Pocket {
  width: 100%;
  height: 100%;
  position: relative;
}

.Pocket-select {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Pocket-select:hover {
  background: rgba(255, 255, 255, 0.2);
}

.Pocket-list {
  width: 100%;
  padding: 10px 0;
  color: black;
  background: white;
  position: absolute;
  z-index: 99;
}

.Pocket-list-item {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.Pocket-list-item:hover {
  background: rgba(0, 0, 0, 0.1);
}
